table {
    width: 100%;
}


table {
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

th {
    background: #F64C71;
    border: none;
}

td {
    color: #333;
    background: #FFF;
    border: 1px solid #CCC;
}

#order-total {
    font-weight: 700;
}

#order-total-label {
    text-align: right;
    padding-right: 5%;
}

button {
    color: #FFF;
    background: #F64C71;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    background: #FCBA04;
}